.video-card {
  max-width: 20rem;
  position: relative;
}
.video-card-watch-later-btn {
  position: absolute;
  right: 2px;
  top: 2px;
  width: 30px;
  height: 30px;
  border-radius: 0;
  padding: 2px;
  padding: 2px;
  color: var(--background-color);
  background-color: transparent;
}
.video-card-image-container {
  height: 11.5rem;
}
.description-image-container {
  width: 2rem;
  flex-shrink: 0;
}
.description-heading {
  height: 3rem;
  overflow: hidden;
}
.text-description {
  display: flex;
  flex-direction: column;
}
.video-card-description-container {
  display: flex;
  gap: var(--md-space);
  justify-content: space-between;
  align-items: flex-start;
}
.three-don-menu-container {
  position: relative;
}
.three-don-menu-button {
  border: none;
  background-color: var(--background-color);
  cursor: pointer;
  padding: 0;
  position: relative;
}
.video-card-option-list {
  position: absolute;
  z-index: 2;
  top: 0px;
  right: 8px;
  padding-inline-start: 0;
  background-color: var(--background-color);
  box-shadow: var(--card-hover-shadow);
  padding: var(--sm-space);
  width: 12rem;
}
.video-card-option-list-sibling {
  position: absolute;
  background-color: red;
}
.video-card-option-list .grid-30-70 {
  cursor: pointer;
  gap: 0;
  align-items: center;
  margin: var(--sm-space) 0;
}
