.playlist-listing-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  justify-items: center;
  column-gap: var(--md-space);
  row-gap: var(--xl-space);
  padding: var(--md-space);
}
