@font-face {
  font-family: "ultraregular";
  src: url("./assets/fonts/ultra.woff2") format("woff2"),
    url("./assets/fonts/ultra.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
