.stacked-video-item {
  display: flex;
  align-items: flex-start;
  column-gap: var(--lg-space);
  box-shadow: var(--card-hover-shadow);
  padding: var(--md-space);
}
.video-img-container {
  flex: 1 1 200px;
}
.stacked-video-item .video-description {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  text-decoration: none;
  color: var(--text-color);
}
.stacked-video-item .video-cta .btn {
  box-shadow: none;
}
